# Listen on all addresses available, port 1337
listenAddressSingleHTTPFrontend: 0.0.0.0:1337 

# Choose from INFO (default), WARN and DEBUG
logLevel: "DEBUG"
showFooter: false
showNewVersions: false
themeName: graylog-theme

actions:
  - title: Demo Log - tcp/12201
    shell: pwsh -c 'send-logs demo'
    icon: backup
    timeout: 900