# Listen on all addresses available, port 1337
listenAddressSingleHTTPFrontend: 0.0.0.0:1337 

# Choose from INFO (default), WARN and DEBUG
logLevel: "DEBUG"
showFooter: false
showNewVersions: false
themeName: graylog-theme

actions:
  - title: Exercise - Investigation
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_database_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201 & sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_vpn_multi_badip_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
        #paste -d'\n' /etc/graylog/log_data/northstar_database_REPLACEME_logs.jsonl /etc/graylog/log_data/northstar_vpn_multi_badip_REPLACEME_logs.jsonl | sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: Exercise - Customer-Facing Deliverable
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_database_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
        #paste -d'\n' /etc/graylog/log_data/northstar_database_REPLACEME_logs.jsonl | sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: Exercise - Data Routing
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_firewall_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201 & sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_vpn_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201 & sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_hr_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201 & sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_loadbalancer_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201 
        #paste -d'\n' /etc/graylog/log_data/northstar_firewall_REPLACEME_logs.jsonl /etc/graylog/log_data/northstar_vpn_REPLACEME_logs.jsonl /etc/graylog/log_data/northstar_hr_REPLACEME_logs.jsonl /etc/graylog/log_data/northstar_loadbalancer_REPLACEME_logs.jsonl | sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: Exercise - Enrichment
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_vpn_multi_badip_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
        #paste -d'\n' /etc/graylog/log_data/northstar_vpn_multi_badip_REPLACEME_logs.jsonl | sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: Cloud Lab Logs - tcp/12201
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_cloudlab_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: Database Logs - tcp/12201
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_database_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: Firewall Logs - tcp/12201
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_firewall_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: EDR Logs - tcp/12201
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_edr_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: HR Logs - tcp/12201
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_hr_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: Load Balancer Logs - tcp/12201
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_loadbalancer_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: VPN Bad IP Logs - tcp/12201
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_vpn_multi_badip_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900

  - title: VPN Logs - tcp/12201
    shell: >-
        sed -e 's/"timestamp": "REPLACEME",//' -e 's/}$//' /etc/graylog/log_data/northstar_vpn_REPLACEME_logs.jsonl | awk -v seed=$RANDOM 'BEGIN {srand(seed);a=strftime("%s")-3600;} { a+=int((11 * rand())) ;print($0, ",\"timestamp\": \"" a "\"}"); }' | tr '\n' '\0' | nc -w 1 localhost 12201
    icon: backup
    timeout: 900
